{
  "default": {},
  "local": {
    "AWS_REGION":"AWS_REGION",
    "AWS_ACCESS_KEY_ID": "AWS_ACCESS_KEY_ID",
    "AWS_SECRET_ACCESS_KEY": "AWS_SECRET_ACCESS_KEY",
    "S3_BUCKET_NAME": "S3_BUCKET_NAME"
  },
  "dev": {
    "AWS_REGION":"AWS_REGION",
    "AWS_ACCESS_KEY_ID": "AWS_ACCESS_KEY_ID",
    "AWS_SECRET_ACCESS_KEY": "AWS_SECRET_ACCESS_KEY",
    "S3_BUCKET_NAME": "S3_BUCKET_NAME"
  },
  "stg": {
        "AWS_REGION":"AWS_REGION",
    "AWS_ACCESS_KEY_ID": "AWS_ACCESS_KEY_ID",
    "AWS_SECRET_ACCESS_KEY": "AWS_SECRET_ACCESS_KEY",
    "S3_BUCKET_NAME": "S3_BUCKET_NAME"
  },
  "prod": {
    "AWS_REGION":"AWS_REGION",
    "AWS_ACCESS_KEY_ID": "AWS_ACCESS_KEY_ID",
    "AWS_SECRET_ACCESS_KEY": "AWS_SECRET_ACCESS_KEY",
    "S3_BUCKET_NAME": "S3_BUCKET_NAMEt"
  }
}
